*
{
    padding: 0;
    margin: 0;
}

body{
		overflow:hidden;

}
div{
	padding: 0;
	margin: 0;
}

p{
	color:white;
	font-size:1.1em;
	font-family: Kollektif, Cambria ,serif;
}

#left{
	position:absolute;
	height:100%;
	width:55%;
	background-color:#FFFFFF;
}


#right{
	position:absolute;
	height:100%;
	width:45%;
	right:0;
	background-color:#c6e5d9;
}


#right #refugees{
	margin-top: 10%;
    position: absolute;
    width: 70%;
    overflow: hidden;
    right: 40%;
}

#right #sec1{
	top: 46%;
    position: absolute;

}


#right #sec2{
	top:70%;
	position:absolute;
}

.subsec{
	width: 100%;
    position: absolute;
	height: 25%;
}

.subsec p{
	padding: 7px;
    margin-left: 7%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80%;
}
.title{
	z-index:1000;
	color: white;
	position:absolute;
	margin-right:3%;
	margin-top:1%;
	right:0;
	font-size:6em;
	font-family: Kollektif, Cambria ,serif;
}

.title2{
	z-index:1000;
	color: white;
	position:relative;
	margin-left:3%;
	font-size:3em;
	font-family: Kollektif, Cambria ,serif;
}



